body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    padding-left: 10rem;
    padding-right: 10rem;
}

h1,
h2,
p {
    text-align: center;
}

.sisu p {
    --laius: 10rem;
    padding-left: var(--laius);
    padding-right: var(--laius);
}