body {
    --laius: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: lightgray;*/
    padding: 10rem var(--laius) 2rem var(--laius)
}

h1,
h2,
p {
    text-align: center;
}

.sisu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sisu p {
    padding-left: var(--laius);
    padding-right: var(--laius);
}